.red-darken {
    background-color: #b71C1C;
}

.red-accent {
    background-color: #d50000;
}

.indigo-darken {
    background-color: #1a237e;
}

.indigo-accent {
    background-color: #304ffe;
}

.blue-darken {
    background-color: #0d47a1;
}

.blue-accent {
    background-color: #2962ff;
}

.light-blue-darken {
    background-color: #01579b;
}

.light-blue-accent {
    background-color: #0091ea;
}

.cyan-darken {
    background-color: #006064;
}

.cyan-accent {
    background-color: #00b8d4;
}

.teal-darken {
    background-color: #004d40;
}

.teal-accent {
    background-color: #00bfa5;
}

